@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro:ital,wght@0,400;0,700;1,400;1,700&family=Atkinson+Hyperlegible+Next:ital,wght@0,200..800;1,200..800&family=Grechen+Fuemen&family=Roboto:ital,wght@0,100..900;1,100..900&family=Sigmar&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: "Noto Sans", sans-serif;
    font-weight: 400;
     font-style: normal;
}
li{
    list-style: none;
}
a {
    text-decoration: none;
}
.container {


}
.header {
    height: 100px;
    display: flex;
    font-size: 16px;
    align-items: center;
    justify-content: space-between;
    padding: 29px 54px;
    background-color: beige;
    border-bottom:1px solid #dadada;
}
.logo {
    height: 41px;
    width: 185px;
}
.header-middle {
    display: flex;
    gap: 75px;
}
.link {
    color: #000000;
    line-height: 24px;
    font-weight: 500;
    transition: all 0.1s linear;
}
.link:hover {
    opacity: 0.6;
}
.header-right {
    display: flex;
    gap: 45px;

}
.header-right .icon {
    width: 28px;
    height: 28px;
}
.header-right .icon:hover{
    opacity: 0.6;
}